{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


<div class="blank-margin"></div>
<div class="container">
    <div id="place-container" class="place-container">
        <div id="place-viewer" class="place-viewer">
            <div id="place-camera" class="place-camera">
                <canvas id="place-canvasse" class="place-canvas"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
    {{ super() }}


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../static/scripts/place/controller.js"></script>
{% endblock %}
