{% extends "base.html" %}

{% block styles %}
    {{ super() }}
        <link href="{{ url_for('static', filename='styles/flip.css') }}" rel="stylesheet">
{% endblock %}

{% block app_content %}
    <div class="container blank-margin"></div>
    <div class="container">
        {% for gallery in galleries %}
        <div class="row">
            <div class="col-md-4 col-md-push-8">
                <h2 class="">{{ gallery.name }}</h2>
                {% if current_user.is_authenticated %}
                <a class="btn btn-primary" href="{{ url_for('admin.edit_gallery', id=gallery.id) }}">编辑</a>
                <a class="btn btn-primary" href="{{ url_for('admin.delete_from_gallery', id=gallery.id) }}">删除图片</a>
                <a class="btn btn-danger" href="{{ url_for('admin.delete_gallery', id=gallery.id) }}">删除影集</a>
                {% endif %}
                <p class="lead gal-description">{{ gallery.description }}</p>
                <p>&nbsp;</p>
            </div>
            <div class="col-md-8 col-md-pull-4">
            {% for photo in gallery.photos %}
            <a href="../static/pictures/resized/{{ photo.id }}.{{ photo.extension }}">
                <img class="mini-img-static" src="../static/pictures/thumbnail/{{ photo.id }}.{{ photo.extension }}" />
            </a>
            {% endfor %}
            </div>
        </div>
        <hr class="featurette-divider">
        {% endfor %}
        <nav arial-label="...">
            <ul class="pager">
                {% if page_start!=1 %}
                <li>
                    <a href="{{ url_list[0] }}">1</a>
                </li>
                <li>  ...  </li>
                {% endif %}
                {% for page in range(page_start,page_end+1) %}
                <li class="{% if current_page==(page) %}disabled{% endif %}">
                    <a href="{{ url_list[page-1] }}">{{ page }}
                    </a>
                </li>
                {% endfor %}
                {% if page_end!=total_page %}
                <li>  ...  </li>
                <li>
                    <a href="{{ url_list[total_page-1] }}">{{ total_page }}</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
