{% extends "base.html" %}

{% block app_content %}
{% include "main/_carousel.html" %}

<!-- START THE FEATURETTES -->
<div class="container">
<hr class="featurette-divider">

{% include "main/_featurette.html" %}

<nav arial-label="...">
{#    <ul class="pager">
        <li class="previous{% if not prev_url %} hidden{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span>
            </a>
        </li>
        {% for page in range(total_page) %}
        <li class="{% if current_page==(page+1) %}disabled{% endif %}">
            <a href="{{ url_list[page] }}">{{ page+1 }}
            </a>
        </li>
        {% endfor %}
        <li class="next{% if not next_url %} hidden{% endif %}">
            <a href="{{ next_url or '#' }}">
                <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
#}

    <ul class="pager">
        {% if page_start!=1 %}
        <li>
            <a href="{{ url_list[0] }}">1</a>
        </li>
        <li>  ...  </li>
        {% endif %}
        {% for page in range(page_start,page_end+1) %}
        <li class="{% if current_page==(page) %}disabled{% endif %}">
            <a href="{{ url_list[page-1] }}">{{ page }}
            </a>
        </li>
        {% endfor %}
        {% if page_end!=total_page %}
        <li>  ...  </li>
        <li>
            <a href="{{ url_list[total_page-1] }}">{{ total_page }}</a>
        </li>
        {% endif %}
    </ul>

</nav></div>
<!-- /END THE FEATURETTES -->


{% endblock %}
