{% extends "base.html" %}

{% block app_content %}
{% include "main/_carousel.html" %}

<!-- START THE FEATURETTES -->
<div class="container">
<hr class="featurette-divider">

{% include "main/_featurette.html" %}

<nav arial-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} hidden{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span>
            </a>
        </li>
        {% for page in range(total_page) %}
        <li class="{% if current_page==(page+1) %}disabled{% endif %}">
            <a href="{{ url_list[page] }}">{{ page+1 }}
            </a>
        </li>
        {% endfor %}
        <li class="next{% if not next_url %} hidden{% endif %}">
            <a href="{{ next_url or '#' }}">
                <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
</div>
<!-- /END THE FEATURETTES -->


{% endblock %}
