{% extends "base.html" %}

{% block styles %}
    {{ super() }}
        <link href="../static/styles/xxx.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ super() }}
        <script src="../static/scripts/xxx.js"></script>
{% endblock %}

{% block app_content %}
    <div class="container blank-margin"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row" id="story">
                            <p>{{ scene.message }}</p>
                            <p>{{ scene.story }}</p>
                        </div>
                        <div class="row" id="options">
                            {% if scene.options %}
                            {% for option in scene.options %}
                            <a href="{{ url_for('dreamcar.dreamcar', id=id) }}?choice={{ loop.index0 }}"><button>{{ option.choice_message }}</button></a>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row" id="status">
                            <p>你感到{{ scene.hero.get_health() }}</p>
                            <p>你觉得{{ scene.hero.get_mood() }}</p>
                            <p>攒下的钱：{{ scene.hero.saving }}</p>
                        </div>
                        <div class="row" id="property">
                            <a href="{{ url_for('dreamcar.dreamcar', id=id ) }}?choice=contract"><button>contract</button></a>
                            <a href="{{ url_for('dreamcar.dreamcar', id=id) }}?choice=garage"><button>garage</button></a>
                            <a href="{{ url_for('dreamcar.dreamcar', id=id) }}?choice=move"><button>move</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
