{% extends "base.html" %}

{% block app_content %}



<div class="container" style="margin-top:120px; ">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h1 class="fzfs">关于这里</h1>
            <p class="fzfs">这里的每张照片，背后都有一个热泪盈眶的故事。</p>
            <p class="fzfs">我想要记住每一段姻缘，每一次发生，每一个此刻。</p>
            <p class="fzfs">2018-5-9</p>
        </div>
        <div class="col-md-5">
            <img class="img-responsive img-rounded center-block " src="../pictures/me.jpg" alt="my photo">
        </div>
        <div class="col-md-1"></div>
    </div>


{% endblock %}
