{% extends 'bootstrap/base.html' %}
{% block title %}
    {% if title %}{{ title }}{% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="static/carousel.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ super () }}
{% endblock %}

{% block navbar %}
{% include "_navbar.html" %}
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="container alert">
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
{% block app_content %}{% endblock %}
{% endblock %}
