{% extends 'bootstrap/base.html' %}
{% block title %}
    {% if title %}
    {{ title }}
    {% else %}
    有龙则灵
    {% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="../static/carousel.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block scripts %}
    {{ super () }}
{% endblock %}

{% block navbar %}
    {% include "_navbar.html" %}
{% endblock %}

{% block content %}
    {% block app_content %}
    {% endblock %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="container alert">
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    {% block footer %}
    {% include '_footer.html' %}
    {% endblock %}
{% endblock %}
