{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link href="static/photobox.css" rel="stylesheet">
{% endblock %}


{% block app_content %}
    <div class="container blank-margin"></div>
    <div class="container">
        {% for key,value in pictures_by_year.items() %}
            {% for picture in value %}
                <a href="../pictures/resized/{{ picture.id }}.{{ picture.extension }}"><img class="by-year-img" src="../pictures/thumbnail/{{ picture.id }}.{{ picture.extension }}"></a>
            {% endfor %}
            <div class="row"><div class="col-md-2 col-md-push-10 fzfs"><p>以上发生在 {{ key }} 年</p></div></div>
            <hr class="featurette-divider">
        {% endfor %}
    </div>
{% endblock %}
