{% extends "base.html" %}

{% block app_content %}
    <div class="container blank-margin"></div>
    <div class="container">
        <div class="row"><div class="col-md-2 col-md-push-10 fzfs"><h2>{{ tag_dict[tag] }}</h2></div></div>
        {% for picture in pictures %}
                <a href="../pictures/resized/{{ picture.id }}.{{ picture.extension }}"><img class="by-year-img" src="../pictures/thumbnail/{{ picture.id }}.{{ picture.extension }}"></a>
        {% endfor %}
    </div>
{% endblock %}
